In [1]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [2]:
df = pd.read_csv('NBA_Stats2.txt', sep='\t')
df[:5]

,1,279,213,26.9,2.87,6.48,0.444,0.71,2.02,0.350,...,5.48,1.44,1.10,0.25,2.13,1.09,7.72,4,3,P.J. Tucker
0,2,91,7,9.5,1.13,2.56,0.442,0.21,0.68,0.306,...,1.64,0.48,0.29,0.04,1.58,0.51,3.16,2,34,Bobby Jones
1,3,403,49,16.9,3.03,5.48,0.553,0.00,0.07,0.037,...,3.89,0.80,0.45,0.23,2.37,1.02,7.64,6,4,Craig Smith
2,4,7,0,5.4,0.43,1.43,0.300,0.00,0.00,0.000,...,1.86,0.14,0.00,0.29,0.86,0.14,1.43,1,5,Kosta Perovic
3,5,27,0,5.8,0.70,1.37,0.514,0.00,0.00,0.000,...,1.22,0.15,0.19,0.07,0.74,0.22,1.56,2,45,James Augustine
4,6,397,77,23.5,2.68,6.66,0.402,1.46,3.57,0.407,...,1.99,1.95,0.61,0.22,2.04,0.94,7.85,7,12,Daniel Gibson

In [3]:
df.columns

Index([u'1', u'279', u'213', u'26.9', u'2.87', u'6.48', u'0.444', u'0.71',
       u'2.02', u'0.350', u'1.27', u'1.70', u'0.746', u'1.64', u'3.84',
       u'5.48', u'1.44', u'1.10', u'0.25', u'2.13', u'1.09', u'7.72', u'4',
       u'3', u'P.J. Tucker'],
      dtype='object')

In [7]:
df.ix[:5,:12]

   1  279  213  26.9  2.87  6.48  0.444  0.71  2.02  0.350  1.27  1.70
0  2   91    7   9.5  1.13  2.56  0.442  0.21  0.68  0.306  0.69  1.01
1  3  403   49  16.9  3.03  5.48  0.553  0.00  0.07  0.037  1.58  2.39
2  4    7    0   5.4  0.43  1.43  0.300  0.00  0.00  0.000  0.57  0.86
3  5   27    0   5.8  0.70  1.37  0.514  0.00  0.00  0.000  0.15  0.30
4  6  397   77  23.5  2.68  6.66  0.402  1.46  3.57  0.407  1.03  1.31
5  7   30    0   5.7  0.63  1.73  0.365  0.20  0.53  0.375  0.23  0.37

In [8]:
df.columns = ["No","GP", "GS", "MIN", "FGM","FGA","FG%","3PM","3PA","3P%","FTM","FTA","FT%","OFF","DEF",
              "TRB","AST","STL","BLK","PF","TOV","PTS","YR","POS","NAME"]

In [10]:
df.ix[:2,:12]

   No   GP  GS   MIN   FGM   FGA    FG%   3PM   3PA    3P%   FTM   FTA
0   2   91   7   9.5  1.13  2.56  0.442  0.21  0.68  0.306  0.69  1.01
1   3  403  49  16.9  3.03  5.48  0.553  0.00  0.07  0.037  1.58  2.39
2   4    7   0   5.4  0.43  1.43  0.300  0.00  0.00  0.000  0.57  0.86

In [ ]:
df.ix[:2,:12]