In [2]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [9]:
df = pd.read_csv('test.txt', sep='\t')
df[:5]

   SF      P.J. Tucker
0   F      Bobby Jones
1  PF      Craig Smith
2   C    Kosta Perovic
3  FC  James Augustine
4   G    Daniel Gibson

In [33]:
df.columns

Index([u'SF', u'P.J. Tucker'], dtype='object')

In [11]:
df.columns = ['Position', 'Player']

In [14]:
df[:5]

  Position           Player
0        F      Bobby Jones
1       PF      Craig Smith
2        C    Kosta Perovic
3       FC  James Augustine
4        G    Daniel Gibson

In [12]:
df.Position.unique()

array(['F', 'PF', 'C', 'FC', 'G', 'GF', 'SG', 'PG', 'SF'], dtype=object)

In [6]:
df.loc[df['Position'] == 'F'][:10]

   Position             Player
0         F        Bobby Jones
7         F    Marcus Vinicius
9         F  Alexander Johnson
13        F          Leon Powe
19        F      Ejike Ugboaja
27        F     Ersan Ilyasova
34        F         Ryan Gomes
35        F   Mickael Gelabale
45        F      Ricky Sanchez
47        F         Chris Taft

In [13]:
df.loc[df['Position'] == 'PG'][:10]

    Position             Player
30        PG      Travis Diener
127       PG     Jamaal Tinsley
166       PG  Darrell Armstrong
168       PG       Luke Ridnour
170       PG        Earl Watson
182       PG         Jason Kidd
206       PG         Eddie Gill
208       PG  Darius Washington
217       PG      Chris Whitney
238       PG         John Lucas