In [231]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [232]:
df = pd.read_csv('data/cleaned.txt', sep='\t')
# ucitavam ceo dataset

Dimensions:

In [233]:
df.shape

(1429, 26)

In [234]:
df.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H', u'NAME'],
      dtype='object')

This method splits the dataset into three subsets:
Training set
Test set
Validation set

In [257]:
def train_test_val(dataframe,end):
    num_rows = dataframe.shape[0]
    #print num_rows
    row_n = num_rows*6/10
    #print row_n
    # training data dataframe
    train_data = dataframe.ix[:row_n,:end]
    print "Training set has %s rows and %s columns" %(train_data.shape[0], train_data.shape[1])
    row_m = num_rows*8/10
    #print row_m
    test_data = dataframe.ix[row_n+1:,:end]
    test_data = test_data.ix[:row_m,:end]
    print "Test set has %s rows and %s columns" %(test_data.shape[0], test_data.shape[1])
    valid_data = dataframe.ix[row_m+1:,:end]
    print "Validation set has %s rows and %s columns" %(valid_data.shape[0], valid_data.shape[1])

    return train_data, test_data, valid_data

In [258]:
train_data, test_data, valid_data = train_test_val(df,25)

Training set has 858 rows and 25 columns
Test set has 286 rows and 25 columns
Validation set has 285 rows and 25 columns

# Training Set

Dimenzije train seta

In [237]:
train_data.shape

(858, 25)

In [238]:
#train_data = train_data.ix[:,:25]
train_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
0,479,81,22.9,4.08,7.65,0.534,0.01,0.04,0.176,2.72,...,0.68,0.43,0.41,2.39,1.22,10.89,8,34,112,206

# Training Set file:

In [239]:
train_data.to_csv("data/train_data.txt", sep="\t", header=False, index=False)

In [240]:
#train_labels = train_data.ix[:,22:]
#train_labels[:1]

In [241]:
#train_labels.to_csv("train_labels.txt", sep="\t", header=False, index=False)

# Testing Set

In [242]:
test_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
858,431,71,16.7,2.01,5.14,0.391,0.8,2.27,0.352,0.68,...,1.16,0.6,0.12,1.68,0.81,5.5,1,2,86,193

Dimenzije test seta:

In [243]:
test_data.shape

(286, 25)

# Testing Set file

In [244]:
test_data.to_csv("data/test_data.txt", sep="\t", header=False, index=False)

In [245]:
#test_labels = test_data.ix[:,22:]
#test_labels[:1]

In [246]:
#test_labels.to_csv("test_labels.txt", sep="\t", header=False, index=False)

# Validation Set

In [247]:
#val_data = df.ix[row_m+1:,:23]
val_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
1144,316,118,21.1,3.45,8.13,0.424,0.44,1.28,0.345,2.92,...,1.92,2.95,1.24,0.6,0.38,2.68,1.64,10.26,9,12

Dimenzije validation seta:

In [248]:
val_data.shape

(285, 23)

# Validation Set file

In [249]:
test_data.to_csv("data/val_data.txt", sep="\t", header=False, index=False)

# Sets for Classification with 5 positions

In [250]:
df5 = pd.read_csv('data5/cleaned.txt', sep='\t')

In [251]:
df5.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H', u'NAME'],
      dtype='object')

In [252]:
df5.shape

(712, 26)

In [259]:
train_data5, test_data5, val_data5 = train_test_val(df5,25)
#712*6/10

Training set has 428 rows and 25 columns
Test set has 142 rows and 25 columns
Validation set has 142 rows and 25 columns

# Training set file

In [261]:
train_data5.to_csv('data5/train_data.txt', sep="\t")

# Testing set file

In [262]:
test_data5.to_csv('data5/test_data.txt', sep="\t")

# Validation set file

In [263]:
valid_data.to_csv('data5/valid_data.txt', sep="\t")

# Sets for Classification with 3 positions

In [268]:
df3 = pd.read_csv('data3/cleaned.txt', sep='\t')

In [269]:
df3.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H', u'NAME'],
      dtype='object')

In [270]:
df3.shape

(1269, 26)

In [273]:
train_data3, test_data3, valid_data3 = train_test_val(df3,25)

Training set has 762 rows and 25 columns
Test set has 254 rows and 25 columns
Validation set has 253 rows and 25 columns

# Training set file

In [ ]:
train_data5.to_csv('data3/train_data.txt', sep="\t")

# Testing set file

# Validation set file