In [1]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [2]:
df = pd.read_csv('cleaned.txt', sep='\t')
# ucitavam ceo dataset

Dimenzije očišćenog fajla

In [3]:
df.shape

(1429, 27)

# Training Set

In [4]:
df.columns

Index([u'Unnamed: 0', u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM',
       u'3PA', u'3P%', u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST',
       u'STL', u'BLK', u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H',
       u'NAME'],
      dtype='object')

In [5]:
df = df.drop('Unnamed: 0',1)
df = df.drop('NAME',1)

In [6]:
df.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS', u'W', u'H'],
      dtype='object')

In [7]:
row_num = df.shape[0]
row_n = row_num*6/10
train_data = df.ix[:row_n]

Dimenzije train seta

In [8]:
train_data.shape

(858, 25)

In [9]:
#train = train_data.ix[:,:23]
train_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
0,479,81,22.9,4.08,7.65,0.534,0.01,0.04,0.176,2.72,...,0.68,0.43,0.41,2.39,1.22,10.89,8,34,112,206

# Training fajl:

In [15]:
train_data.to_csv("train_data.txt", sep="\t", header=False, index=False)

In [16]:
#train_labels = train_data.ix[:,22:]
#train_labels[:1]

In [17]:
#train_labels.to_csv("train_labels.txt", sep="\t", header=False, index=False)

# Testing Set

In [18]:
row_m = row_num*8/10
test_data = df.ix[row_n+1:]
test_data = test_data.ix[:row_m]
test_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,AST,STL,BLK,PF,TOV,PTS,YR,POS,W,H
858,431,71,16.7,2.01,5.14,0.391,0.8,2.27,0.352,0.68,...,1.16,0.6,0.12,1.68,0.81,5.5,1,2,86,193

Dimenzije test seta:

In [19]:
test_data.shape

(286, 25)

In [20]:
test_data.to_csv("test_data.txt", sep="\t", header=False, index=False)

In [21]:
#test_labels = test_data.ix[:,22:]
#test_labels[:1]

In [22]:
#test_labels.to_csv("test_labels.txt", sep="\t", header=False, index=False)

# Validation set

In [23]:
val_data = df.ix[row_m+1:,:23]
val_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
1144,316,118,21.1,3.45,8.13,0.424,0.44,1.28,0.345,2.92,...,1.92,2.95,1.24,0.6,0.38,2.68,1.64,10.26,9,12

Dimenzije validation seta:

In [24]:
val_data.shape

(285, 23)

# Validation fajl

In [25]:
test_data.to_csv("val_data.txt", sep="\t", header=False, index=False)