In [48]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [30]:
df = pd.read_csv('cleaned.txt', sep='\t')
# ucitavam ceo dataset

# Training Set

In [31]:
df.columns

Index([u'Unnamed: 0', u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM',
       u'3PA', u'3P%', u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST',
       u'STL', u'BLK', u'PF', u'TOV', u'PTS', u'YR', u'POS', u'NAME'],
      dtype='object')

In [32]:
df = df.drop('Unnamed: 0',1)
df = df.drop('NAME',1)

In [33]:
df.columns

Index([u'GP', u'GS', u'MIN', u'FGM', u'FGA', u'FG%', u'3PM', u'3PA', u'3P%',
       u'FTM', u'FTA', u'FT%', u'OFF', u'DEF', u'TRB', u'AST', u'STL', u'BLK',
       u'PF', u'TOV', u'PTS', u'YR', u'POS'],
      dtype='object')

In [39]:
row_n = df.shape[0]
row_n = row_n*6/10
train_data = df.ix[:row_n,:23]
train_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
0,91,7,9.5,1.13,2.56,0.442,0.21,0.68,0.306,0.69,...,1.08,1.64,0.48,0.29,0.04,1.58,0.51,3.16,2,34

In [40]:
train_features = train_data.ix[:,:22]
train_features[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,OFF,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR
0,91,7,9.5,1.13,2.56,0.442,0.21,0.68,0.306,0.69,...,0.56,1.08,1.64,0.48,0.29,0.04,1.58,0.51,3.16,2

In [61]:
train_features.to_csv("train_features.txt", sep="\t", header=False, index=False)

In [44]:
train_labels = train_data.ix[:,22:]
train_labels[:1]

   POS
0   34

In [60]:
train_labels.to_csv("train_labels.txt", sep="\t", header=False, index=False)

# Testing Set

In [51]:
test_data = df.ix[row_n+1:,:23]
test_data[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR,POS
479,785,498,26.8,3.31,6.72,0.493,0,0.03,0.12,1.54,...,5.13,7.14,0.9,0.53,0.31,2.53,1,8.16,1,45

In [52]:
test_features = test_data.ix[:,:22]
test_features[:1]

,GP,GS,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,...,OFF,DEF,TRB,AST,STL,BLK,PF,TOV,PTS,YR
479,785,498,26.8,3.31,6.72,0.493,0,0.03,0.12,1.54,...,2.02,5.13,7.14,0.9,0.53,0.31,2.53,1,8.16,1

In [59]:
test_features.to_csv("test_features.txt", sep="\t", header=False, index=False)

In [54]:
test_labels = test_data.ix[:,22:]
test_labels[:1]

     POS
479   45

In [58]:
test_labels.to_csv("test_labels.txt", sep="\t", header=False, index=False)